<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../../web/js/jquery-2.2.2.min.js"></script>
	</head>
	<body>
		<div name="mytest">hhh</div>
		<input type="button" value="插件一个div" onclick="createTest()" />
		<input type="button" value="jqTest" onclick="jqTest()" />
		<div class="mybody">
		<div id="testId">id</div>
		<input name="mytest" value="inputvalue" />
		<input type="button" value="插件一个div" onclick="createTest()" />
		<input type="button" value="jqTest" onclick="jqTest()" />
		</div>
	</body>
	<script>
		document.getElementById('testId').addEventListener('click', function(e) {
			console.log('currentTarget',e.currentTarget);
			console.log('Target',e.target);
			console.log('我被点击了');
		}, true);

		function createTest() {
			//document.getElementsByTagName('body')[0].innerHTML='<div>全部覆盖</div>';
			var div = document.createElement('div');
			div.innerHTML = '我是动态创建的';
			div.className = "myClassName";
			document.getElementById('testId').appendChild(div);

		}
		
		function addHtml(data) {
			//document.getElementsByTagName('body')[0].innerHTML='<div>全部覆盖</div>';
			var div = document.createElement('div');
			div.innerHTML = '我是动态创建的，名字:'+data.name+",性别："+data.sex;
			div.className = "myClassName";
			document.getElementById('testId').appendChild(div);
		
		}
		
		function jqTest(){
			//$('.mybody :input[type="button"]');
// 			var options = {
// 				
// 			}
			$.ajax({
				url: 'http://127.0.0.1:8088/getJsonpData',
				type: 'GET',
				contentType: 'application/json',
				jsonp: 'callback',
				dataType: 'jsonp',
				/* contentType: 'application/x-www-form-urlencoded', */
				data: {
					
				},
				success: function(data){
					console.log('返回数据',data);
					addHtml(data);
				},
				error: function(){
					
				}
			})
		}
	</script>
</html>
